{% extends "weight_layout.html" %}

{% block title %}
    _('Body weight chart') chart
{% endblock %}

{% block main %}
    <div class="container">
        <h3>{{ _('Body weight chart') }}</h3>
        <form action="/diastole" method = "post">
            <div class="form-group row">
                <div class="col-sm-4 col-form-label text-md-end">
                    <label for="datefrom">{{ _('Date from : ') }}</label>
                </div>
                <div class="col-sm-6">
                    <input type="date" id="datefrom" class="form-control" name="datefrom" maxlength="10" autocomplete="off" value="{{ filter.datefrom }}" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 col-form-label text-md-end">
                    <label for="dateuntil">{{ _('Date until : ') }}</label>
                </div>
                <div class="col-sm-6">
                    <input type="date" id="dateuntil" class="form-control" name="dateuntil" maxlength="10" autocomplete="off" value="{{ filter.dateuntil }}" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 col-form-label">
                    &nbsp;
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="form-control" name="status" value="filter">{{ _('Filter') }}</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4 col-form-label">
                    &nbsp;
                </div>
                <div class="col-sm-6">
                    <button type="submit" class="form-control" name="status" value="pdf">{{ _('Download as PDF-File') }}</button>
                </div>
            </div>
        </form>
        <hr>
        

        
        <div class="row">
            <div class="col-md-2 text-md-start">
                {{ _('Last name: ') }}
            </div>
            <div class="col-md-2 text-md-start">
                {{ personal["lastname"] }}
            </div>
            <div class="col-md-2 text-md-start">
                &nbsp;
            </div>
            <div class="col-md-2 text-md-start">
                {{ _('Date of birth: ') }}
            </div>
            <div class="col-md-2 text-md-start">
                {{ personal["birthday"] }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-start">
                {{ _('First name: ') }} 
            </div>
            <div class="col-md-4 text-md-start">
                {{ personal["firstname"] }}
            </div>
            <div class="col-md-3 text-md-start">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-md-start">
                &nbsp;
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <th colspan="2" class="text-start">
                    {{ _('Date ') }}
                </th>
                <th colspan="2" class="text-start">
                    {{ _('Time ') }}
                </th>
                <th colspan="2" class="text-end">
                    {{ _('Body weight') }}
                </th>
                <th colspan="3" class="text-start">
                    {{ _('Remarks') }}
                </th>
            </thead>
            <tbody>
        {% for item in weightchart %}
                <tr>
                    <td colspan="2" class="text-start">
                        {{ item["mdate"] }}
                    </td>
                    <td colspan="2" class="text-start">
                        {{ item["mtime"] }}
                    </td>
                    <td colspan="2" class="text-end">
                        {{ item["body_weight"] }}
                    </td>
                    <td colspan="3" class="text-start">
                        {{ item["remarks"] }}
                    </td>
                </tr>
        {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="3">{{ _('Body weight Min:') }}</td>
                    <td class="border-0 text-end">{{ minweight }} kg</td>
                    <td class="border-0 fw-bold text-end" colspan="2">Max:</td>
                    <td class="border-0 text-end">{{ maxweight }} kg</td>
                    <td class="border-0 fw-bold text-end" colspan="3">{{ _('Average:') }}</td>
                    <td class="border-0 text-end">{{ avgweight }} kg</td>
                </tr>
            </tfoot>
        </table>
        <hr>
    </div>            
    
{% endblock %}